@font-face {
  font-family: "pokemon-solid";
  src: url("../../fonts/pokemon/Pokemon Solid.ttf");
}
@font-face {
  font-family: "pokemon-hollow";
  src: url("../../fonts/pokemon/Pokemon Hollow.ttf");
}
@font-face {
  font-family: "press-start-2p";
  src: url("../../fonts/Press_Start_2P/PressStart2P-Regular.ttf");
}
@font-face {
  font-family: "permanent-marker";
  src: url("../../fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
}
button {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: none;
  border: 2px solid white;
  transition: 0.3s ease;
  cursor: pointer;
}
button i {
  color: white;
  transition: 0.3s ease;
}
button:not(:disabled):hover {
  background: white;
}
button:not(:disabled):hover i {
  color: black;
}
button#result {
  width: auto;
  height: auto;
  padding: 15px 50px;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin: 10px 0;
}
button#result:hover {
  color: black;
}

section#avaliationSection {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  min-height: 100vh;
}
section#avaliationSection div#pokemonContainer {
  position: relative;
  width: 100%;
  height: 350px;
  margin-bottom: 60px;
}
section#avaliationSection div#pokemonContainer div.pokemon {
  position: absolute;
  left: 50px;
  top: 0;
  width: 600px;
  height: 350px;
}
section#avaliationSection div#pokemonContainer div.pokemon span {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: white;
  font-weight: 600;
  letter-spacing: 5px;
  font-family: "pokemon-solid";
  white-space: nowrap;
}
section#avaliationSection div#pokemonContainer div.pokemon button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0%);
  z-index: 12;
  border: none;
}
section#avaliationSection div#pokemonContainer div.pokemon button i {
  font-weight: 900;
  font-size: 30px;
}
section#avaliationSection div#pokemonContainer div.pokemon button#next {
  left: calc(50% + 250px);
}
section#avaliationSection div#pokemonContainer div.pokemon button#preview {
  left: calc(50% - 250px);
}
section#avaliationSection div#pokemonContainer div.pokemon img, section#avaliationSection div#pokemonContainer div.pokemon h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
section#avaliationSection div#pokemonContainer div.pokemon h2 {
  font-size: 30px;
  color: #AFAFAF;
}
section#avaliationSection div#pokemonContainer div.pokemon img.top-light {
  top: 0;
  height: 100%;
  width: 500px;
  animation: turnOnLights 1s;
}
section#avaliationSection div#pokemonContainer div.pokemon img.pokemon-img {
  bottom: 60px;
  max-height: 190px;
  min-width: 150px;
  min-height: 150px;
  z-index: 1;
  animation: showPokemon 1s;
}
section#avaliationSection div#pokemonContainer div.pokemon img.bg-grass {
  width: 350px;
  bottom: 0;
  animation: showPokemon 1s;
}
section#avaliationSection div#pokemonContainer div#baseStats {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  right: 0;
  flex-flow: column;
  width: calc(100% - 700px);
  height: 100%;
}
section#avaliationSection div#pokemonContainer div#baseStats div.stat {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 16.6666666667%;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
section#avaliationSection div#pokemonContainer div#baseStats div.stat.hp div.inner-shadow {
  background: #40c241;
}
section#avaliationSection div#pokemonContainer div#baseStats div.stat.hp div.inner-bar {
  background: #40c241;
}
section#avaliationSection div#pokemonContainer div#baseStats div.stat.atk div.inner-shadow {
  background: #df3c3a;
}
section#avaliationSection div#pokemonContainer div#baseStats div.stat.atk div.inner-bar {
  background: #df3c3a;
}
section#avaliationSection div#pokemonContainer div#baseStats div.stat.def div.inner-shadow {
  background: #efa425;
}
section#avaliationSection div#pokemonContainer div#baseStats div.stat.def div.inner-bar {
  background: #efa425;
}
section#avaliationSection div#pokemonContainer div#baseStats div.stat.spatk div.inner-shadow {
  background: #e83fa7;
}
section#avaliationSection div#pokemonContainer div#baseStats div.stat.spatk div.inner-bar {
  background: #e83fa7;
}
section#avaliationSection div#pokemonContainer div#baseStats div.stat.spdef div.inner-shadow {
  background: #e1d441;
}
section#avaliationSection div#pokemonContainer div#baseStats div.stat.spdef div.inner-bar {
  background: #e1d441;
}
section#avaliationSection div#pokemonContainer div#baseStats div.stat.speed div.inner-shadow {
  background: #29b5e1;
}
section#avaliationSection div#pokemonContainer div#baseStats div.stat.speed div.inner-bar {
  background: #29b5e1;
}
section#avaliationSection div#pokemonContainer div#baseStats div.stat span {
  font-size: 20px;
  color: white;
  width: 90px;
  font-weight: 600;
}
section#avaliationSection div#pokemonContainer div#baseStats div.stat div.outer-bar {
  position: relative;
  width: 80%;
  height: 30px;
  border-radius: 25px;
  background: white;
  overflow: hidden;
}
section#avaliationSection div#pokemonContainer div#baseStats div.stat div.outer-bar div.inner-shadow {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  border-radius: 25px;
  height: 100%;
  transition: 0.5s ease;
}
section#avaliationSection div#pokemonContainer div#baseStats div.stat div.outer-bar div.inner-bar {
  width: 80%;
  height: 100%;
  border-radius: 25px;
  transition: 0.3s ease;
}
section#avaliationSection div#natureListContainer {
  display: grid;
  grid-template-columns: 16% 84%;
  grid-template-rows: 16% 84%;
  grid-template-areas: ". header" "aside list";
  padding: 20px;
  gap: 5px;
  width: 95vw;
  height: 395px;
  transition: 1s ease;
}
section#avaliationSection div#natureListContainer ul.list-header,
section#avaliationSection div#natureListContainer ul.list-aside {
  grid-area: header;
  display: flex;
  gap: 5px;
}
section#avaliationSection div#natureListContainer ul.list-header li,
section#avaliationSection div#natureListContainer ul.list-aside li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20%;
  text-align: center;
  background: #2c2c2c;
  height: 55px;
  color: rgb(240, 230, 230);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: capitalize;
}
section#avaliationSection div#natureListContainer ul.list-header li i,
section#avaliationSection div#natureListContainer ul.list-aside li i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: rgb(240, 230, 230);
}
section#avaliationSection div#natureListContainer menu.nature-list {
  grid-area: list;
}
section#avaliationSection div#natureListContainer menu.nature-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
section#avaliationSection div#natureListContainer menu.nature-list ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc(20% - 4px);
  height: 55px;
  background: black;
  text-align: center;
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: 0.5s ease;
}
section#avaliationSection div#natureListContainer menu.nature-list ul li:hover {
  filter: brightness(0.8);
}
section#avaliationSection div#natureListContainer menu.nature-list ul li.atk {
  background: #df3c3a;
}
section#avaliationSection div#natureListContainer menu.nature-list ul li.def {
  background: #efa425;
}
section#avaliationSection div#natureListContainer menu.nature-list ul li.spatk {
  background: #e83fa7;
}
section#avaliationSection div#natureListContainer menu.nature-list ul li.spdef {
  background: #e1d441;
}
section#avaliationSection div#natureListContainer menu.nature-list ul li.speed {
  background: #29b5e1;
}
section#avaliationSection div#natureListContainer menu.nature-list ul li.no-selected {
  filter: brightness(0.5) !important;
}
section#avaliationSection div#natureListContainer menu.nature-list ul li.selected {
  filter: brightness(1) !important;
}
section#avaliationSection div#natureListContainer ul.list-aside {
  grid-area: aside;
  flex-flow: column;
}
section#avaliationSection div#natureListContainer ul.list-aside li {
  width: 100%;
}
section#avaliationSection div#ivInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 200px;
}
section#avaliationSection div#ivInputContainer div.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 33%;
  height: 70px;
}
section#avaliationSection div#ivInputContainer div.inputContainer div {
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 35px;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
section#avaliationSection div#ivInputContainer div.inputContainer label {
  font-size: 24px;
  white-space: nowrap;
  font-weight: 500;
  letter-spacing: 1px;
}
section#avaliationSection div#ivInputContainer div.inputContainer input[type=text] {
  width: 20px;
  background: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
section#avaliationSection div#ivInputContainer div.inputContainer input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 200px;
  height: 12px;
  background: pink;
  border-radius: 2px;
}
section#avaliationSection div#ivInputContainer div.inputContainer input[type=range]#hp {
  background: #40c241;
}
section#avaliationSection div#ivInputContainer div.inputContainer input[type=range]#attack {
  background: #df3c3a;
}
section#avaliationSection div#ivInputContainer div.inputContainer input[type=range]#defense {
  background: #efa425;
}
section#avaliationSection div#ivInputContainer div.inputContainer input[type=range]#spatk {
  background: #e83fa7;
}
section#avaliationSection div#ivInputContainer div.inputContainer input[type=range]#spdef {
  background: #e1d441;
}
section#avaliationSection div#ivInputContainer div.inputContainer input[type=range]#speed {
  background: #29b5e1;
}
section#avaliationSection div#ivInputContainer div.inputContainer input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 15px;
  border: 3px solid white;
  border-radius: 2px;
  cursor: pointer;
}
section#avaliationSection div#ivInputContainer div.inputContainer input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4CAF50;
  border-radius: 50%;
  cursor: pointer;
}

div#pokemonListContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
}
div#pokemonListContainer ul#pokemonList {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  border-collapse: collapse;
  overflow: scroll;
  height: 0;
  padding: 0px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: hidden;
  transition: 0.5s ease;
}
div#pokemonListContainer ul#pokemonList::-webkit-scrollbar {
  width: 0;
  display: none;
}
div#pokemonListContainer ul#pokemonList.open {
  overflow: auto;
  height: 100vh;
  padding: 0 20px 20px;
}
div#pokemonListContainer ul#pokemonList li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background: white;
  border: 3px solid black;
  cursor: pointer;
}
div#pokemonListContainer ul#pokemonList li img {
  max-width: 85px;
  max-height: 85px;
  width: 100%;
  height: 100%;
}
div#pokemonListContainer ul#pokemonList li:hover, div#pokemonListContainer ul#pokemonList li.selected {
  border: 3px solid white !important;
}

@keyframes turnOnLights {
  0% {
    top: -350px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes showPokemon {
  0% {
    left: 25%;
    opacity: 0;
  }
  100% {
    left: 50%;
    opacity: 1;
  }
}/*# sourceMappingURL=avaliation.css.map */