@font-face {
  font-family: "pokemon-solid";
  src: url("../../fonts/pokemon/Pokemon Solid.ttf");
}
@font-face {
  font-family: "pokemon-hollow";
  src: url("../../fonts/pokemon/Pokemon Hollow.ttf");
}
@font-face {
  font-family: "press-start-2p";
  src: url("../../fonts/Press_Start_2P/PressStart2P-Regular.ttf");
}
@font-face {
  font-family: "permanent-marker";
  src: url("../../fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  list-style: none;
}

body {
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: rgb(10, 29, 52);
  padding-bottom: 40px;
}

.hidden {
  display: none !important;
}

h2, h1 {
  font-family: "pokemon-solid";
  letter-spacing: 5px;
  color: rgb(240, 230, 230);
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

div#transitionScreen {
  position: absolute;
  background: linear-gradient(90deg, rgb(10, 29, 52) 0%, rgb(16, 57, 108) 50%, rgb(23, 76, 141) 100%);
  z-index: 1000;
}
div#transitionScreen.transition {
  animation: transitionTrue 1.4s;
}

main {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row;
  width: 100%;
  height: auto;
  transition: 1s;
}
main section#pokemonSection {
  position: relative;
  width: 100vw;
  padding: 10px 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
main section#pokemonSection h1 {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
main section#pokemonSection ul#pokemonList {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  border-collapse: collapse;
}
main section#pokemonSection ul#pokemonList li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background: white;
  border: 3px solid black;
  cursor: pointer;
}
main section#pokemonSection ul#pokemonList li img {
  max-width: 85px;
  max-height: 85px;
  width: 100%;
  height: 100%;
}
main section#pokemonSection ul#pokemonList li:hover, main section#pokemonSection ul#pokemonList li.selected {
  border: 3px solid white !important;
}
main section#pokemonSection div#selectedPokemon {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background: url("../img/SelectedPokemonBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s ease;
}
main section#pokemonSection div#selectedPokemon div#selectedPokemonBackground {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.5s ease;
}
main section#pokemonSection div#selectedPokemon img#pokemon {
  position: absolute;
  right: 150px;
  bottom: 150px;
  max-width: 600px;
  max-height: 600px;
  min-width: 400px;
  min-height: 400px;
}
main section#pokemonSection div#selectedPokemon h2#selectedPokemonName {
  font-family: "permanent-marker";
  position: absolute;
  right: 150px;
  bottom: 0;
  color: white;
  width: auto;
  font-size: 90px;
}
main section#pokemonSection div#selectedPokemon.active {
  left: 0;
}
main section#pokemonSection div#selectedPokemon.active div#selectedPokemonBackground {
  left: 0;
}
main section#pokemonSection div#selectedPokemon.active menu#selectedPokemonOptions {
  opacity: 1;
}
main section#pokemonSection div#selectedPokemon menu#selectedPokemonOptions {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 1s ease;
  transform: translate(50px, -150px);
}
main section#pokemonSection div#selectedPokemon menu#selectedPokemonOptions ul li {
  margin-bottom: 20px;
  font-family: "press-start-2p";
  font-size: 16px;
  color: white;
}
main section#pokemonSection span#spanSelect {
  position: fixed;
  top: 90vh;
  left: 50%;
  white-space: nowrap;
  font-family: "press-start-2p";
  color: white;
  animation: pisca 1s infinite;
  transform: translateX(-50%);
  z-index: 1000;
}
main section#resultSection {
  width: 100%;
  height: 100vh;
}
main section#resultSection div#top {
  display: flex;
  gap: 50px;
  width: 100%;
  height: 300px;
  padding: 0 50px;
}
main section#resultSection div#top div#pokemonImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border: 3px solid rgb(127, 127, 127);
  border-radius: 5px;
}
main section#resultSection div#top div#pokemonImageContainer img {
  min-width: 70%;
  min-height: 70%;
  max-width: 90%;
  max-height: 90%;
}
main section#resultSection div#top div#pokemonStatusContainer {
  display: flex;
  flex-flow: column;
  gap: 10px;
  width: calc(100% - 350px);
  height: 100%;
  border: 3px solid rgb(127, 127, 127);
  border-radius: 5px;
  padding: 20px;
}
main section#resultSection div#top div#pokemonStatusContainer div.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  color: rgb(240, 230, 230);
}
main section#resultSection div#top div#pokemonStatusContainer div.stat span.stat-name {
  width: 70px;
  text-align: center;
  font-weight: 500;
}
main section#resultSection div#top div#pokemonStatusContainer div.stat div.out-bar {
  width: calc(100% - 70px);
  background: rgba(60, 60, 60, 0.5);
  height: 30px;
  border: 3px solid rgb(127, 127, 127);
  border-radius: 5px;
  overflow: hidden;
}
main section#resultSection div#top div#pokemonStatusContainer div.stat div.out-bar div.inner-bar {
  min-width: 50px;
  position: relative;
  height: 100%;
  width: 50%;
  border-radius: 0 5px 5px 0;
  background: white;
  transition: 0.5s ease;
}
main section#resultSection div#top div#pokemonStatusContainer div.stat div.out-bar div.inner-bar span.stat-value {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-30px, -50%);
  color: rgb(127, 127, 127);
}
main section#resultSection div#avaliation {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  -moz-column-gap: 50px;
       column-gap: 50px;
  width: 100%;
  padding: 10px 50px;
}
main section#resultSection div#avaliation div#pokemonNatureAvaliation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 300px;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  border: 3px solid rgb(127, 127, 127);
  background-color: rgb(10, 29, 52);
  cursor: pointer;
  transition: 0.2s ease;
}
main section#resultSection div#avaliation div#pokemonNatureAvaliation:hover {
  filter: brightness(0.8);
}
main section#resultSection div#avaliation div#pokemonNatureAvaliation h4.nature {
  width: 100%;
  text-align: center;
  font-size: 20px;
}
main section#resultSection div#avaliation div#pokemonNatureAvaliation div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
main section#resultSection div#avaliation div#pokemonNatureAvaliation span.increase {
  display: block;
  color: #90EE90;
  width: 50%;
}
main section#resultSection div#avaliation div#pokemonNatureAvaliation span.decrease {
  display: block;
  color: #FF5733;
  width: 50%;
}
main section#resultSection div#avaliation div#pokemonIvAvaliation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: rgb(10, 29, 52);
  width: calc(100% - 350px);
  border: 3px solid rgb(127, 127, 127);
  border-radius: 5px;
}
main section#resultSection div#avaliation div#pokemonIvAvaliation ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px 5px;
  width: 100%;
}
main section#resultSection div#avaliation div#pokemonIvAvaliation ul li {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: calc(33% - 5px);
  padding: 5px;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  cursor: context-menu;
}
main section#resultSection div#avaliation div#pokemonMovesetAvaliation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
main section#resultSection div#avaliation div#pokemonMovesetAvaliation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
}
main section#resultSection div#avaliation div#pokemonMovesetAvaliation ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid rgb(127, 127, 127);
  background: white;
  cursor: pointer;
}
main section#resultSection div#avaliation div#pokemonMovesetAvaliation ul li img {
  width: 100%;
  height: 100%;
}
main section#resultSection div#resultNote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  width: 350px;
  height: 0px;
  background: rgb(112, 112, 112);
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
  box-shadow: 0px 0px 2px 100vh rgba(0, 0, 0, 0.5);
}
main section#resultSection div#resultNote li, main section#resultSection div#resultNote span {
  font-family: "pokemon-solid";
  font-size: 20px;
  color: white;
}
main section#resultSection div#resultNote span.final-note {
  font-size: 24px;
  letter-spacing: 5px;
  text-align: center;
  width: 100%;
}
main section#resultSection div#resultNote ul#resultList {
  display: flex;
  flex-flow: column;
  align-items: center;
}
main section#resultSection div#resultNote ul#resultList span {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}
main section#resultSection div#resultNote ul#resultList li {
  letter-spacing: 2px;
  height: 40px;
}
main section#resultSection div#resultNote div.note-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-top: 10px;
  width: 100%;
}
main section#resultSection div#resultNote div.note-img-container img {
  height: 175px;
}
main section#resultSection div#resultNote button.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: 700;
  color: white;
  font-size: 24px;
  background: none;
  cursor: pointer;
}
main section#resultSection div#postMarketplace {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: 20px;
  width: 100%;
  padding: 10px 0 40px;
}
main section#resultSection div#postMarketplace span {
  font-size: 20px;
  font-weight: 500;
  color: rgb(240, 230, 230);
}
main section#resultSection div#postMarketplace button {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 30px;
  border: 3px solid rgb(127, 127, 127);
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@keyframes transitionTrue {
  0% {
    border-radius: 100% 50% 0 50%;
    width: 0;
    height: 0;
  }
  50% {
    width: 110%;
    height: 110%;
  }
  100% {
    width: 0;
    height: 0;
  }
}
@keyframes pisca {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes closeResult {
  0% {
    height: 400px;
    opacity: 1;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}
@keyframes openResult {
  0% {
    height: 0px;
  }
  100% {
    height: 400px;
  }
}/*# sourceMappingURL=calculator.css.map */