$body_background: rgb(10, 29, 52);
$items_background: rgb(112, 112, 112);
$items_border: rgb(161, 161, 161);
$title_color: rgb(240, 230, 230);
$bug: red;

@font-face {
    font-family: "pokemon-solid";
    src: url("../../fonts/pokemon/Pokemon\ Solid.ttf");
}
@font-face {
    font-family: "pokemon-hollow";
    src: url("../../fonts/pokemon/Pokemon\ Hollow.ttf");
}
@font-face {
    font-family: "press-start-2p";
    src: url("../../fonts/Press_Start_2P/PressStart2P-Regular.ttf");
}
@font-face {
    font-family: "permanent-marker";
    src: url("../../fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
}